.buildpath
.cache
.DS_Store
.idea
.metadata
.project
.settings
*.log
*.sql.gz
*.tar.gz
.vscode

/.phpunit.result.cache
/.phpunit.cache
/.php-cs-fixer.cache
/.php-cs-fixer.php
/composer.lock
/phpunit.xml
/vendor/